$primary_color:#401F71;
$second_color:#824D74;
$third_color:#BE7B72;
$fourth_color:#FDAF7B;

$font-size-base: 16px;
$padding-base: 10px;
$border-radius: 5px;
$button-font-size: 18px;
$button-padding: 12px 20px;
$input-height: 40px;
$input-padding: 8px;